*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.banner-container{
    height: 85vh;
    display: flex;
    justify-content:space-between ;
    align-items: center;
    background-color: rgba(229, 84, 115, 0.10);
    width: 1920px;
    
}
.b-img{

    width: 435px;
    height: 590px;
    margin-right: 300px;
    margin-top: 30px;
    margin-bottom: 0 auto;
    
}
.banner-text{
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    
    
}
.b-head-text{
    width: 500px;
    font-size: 50px;
    
    
}
.b-details-text{
    width: 460px;
    font-weight: 400px;
    line-height: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    color: rgba(39, 39, 39, 0.60);
}
.g-btn{
    border-radius: 5px;
    background: #E55473;
    padding: 15px 35px;
    border: none;
    color: white;
    font-size: 15px;
}
.second-banner{
    text-align: center;
    padding: 80px;
    margin-left: auto;
    margin-right: auto;
}
.sb-head-text{
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
}
.sb-details-text{
    color: rgba(39, 39, 39, 0.60);
}
.sb-img-container{
    display: flex;
  
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
}


.sb-img{
    width: 210px;
    height: 328px;
    margin-bottom: 0px auto;
    padding-bottom: 0px auto;
    padding-top: 70px;
}
.sb-img1{
    border-radius: 200px 200px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 350px;
    height: 400px;
}
.sb-img2{
    border-radius: 200px 200px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 350px;
    height: 400px;
    
    
}
.sb-img3{
    border-radius: 200px 200px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 350px;
    height: 400px;
}
.li{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-decoration-line: underline;
    
    padding-top: 15px;
}

.optional{
    
    padding: 50px;
    width: 1200px;
    height: 230px;
    align-items: center;
    background-color: rgba(39, 39, 39, 0.05);
    margin-left: auto;
    margin-right: auto;
}
.op-img{
   padding-top: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.op-li{
    padding-top: 30px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: -50px;
}
.mian-container1{
    
   background: rgba(229, 84, 115, 0.05);
   width: 1920px;
   height: 550px;
   margin-top: 80px;
   display: flex;
   justify-content: space-around;
   align-items: center;
}
.word-style{
    color: red;
}
.mc1-details-text{
    color: rgba(39, 39, 39, 0.60);
}
.mc1-head-text{
    padding-bottom: 20px;
}
#btn{
    padding-top: 20px;
}

.main-content2{
 padding-top: 80px;
 margin-right: auto;
 margin-left: auto;
}
.mc2-text{
    text-align: center;
}

.mc2-d-text{
    padding: 20px;
    color: rgba(39, 39, 39, 0.60);
}
.mc2-img{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}
.main-content3{
    width: 1200px;
    height: 230px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 80px;
    padding-top: 120px;
    background-image: url(./flower-asset/Rectangle-9.png);
}
.mc3-details-text{
    
    color: rgba(39, 39, 39, 0.60);
}
.mail{
    margin-top: 50px;
    width: 550px;
    height: 45px;
    padding-left: 10px;
}
.mc3-head{
    margin-bottom: 20px;
}
.footer
{
    
    background: #111010;
    text-align: center;
    color: white;
    width: 1922px;
    height: 350px;
}
.right{
    color: rgba(255, 255, 255, 0.40);
    font-size: 10px;
}
.f-head{
    padding-top: 100px;
    padding-bottom: 30px;
}
.footer-details{
    padding-bottom: 30px;
}
.g-btn:hover{
    cursor: pointer;
}



